// wrapper style
.payplugUIComponentsList {
  background: #fff;
  margin: -16px -16px -16px -16px;
  padding: 32px;
  width: calc(100% + 32px);

  section:not(.payplugUiBlock) {
    padding: 0 0 36px;

    > ._title {
      .Roboto(18px, 700);
      margin: 0 0 1em;
      width: 100%;

      &.-sub {
        font-size: 16px;
      }
    }

    ._subtitle {
      .Roboto(13px, 700);
      width: 100%;
      max-width: 150px;
      margin: 0;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: start;
      margin: 0 0 12px;

      > div {
        margin: 0 12px 0 0;
      }
    }

    ._props {
      .border(#colorMap[borderMain]);
      .borderRadius(4px);
      align-items: stretch;
      margin: 30px 0 0;

      > div {
        flex: 1;
        width: 200px;
        padding: 16px;
        margin: 0;
        .Roboto(13px, 500);

        & + div {
          .border(#colorMap[borderMain], l);
        }
      }
    }

    & + section {
      .border(#colorMap[borderMain], t);
      padding: 36px 0;
    }
  }
}

.bootstrap {
  @import "atoms/accordion";
  @import "atoms/action";
  @import "atoms/alert";
  @import "atoms/alertText";
  @import "atoms/block";
  @import "atoms/button";
  @import "atoms/buttonLink";
  @import "atoms/icon";
  @import "atoms/image";
  @import "atoms/input";
  @import "atoms/link";
  @import "atoms/loader";
  @import "atoms/modal";
  @import "atoms/options";
  @import "atoms/paragraph";
  @import "atoms/select";
  @import "atoms/switch";
  @import "atoms/title";
  @import "atoms/tooltip";
}