/* Payplug Integrated Payment */
.payplugIntegratedPayment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &_input {
    .border(#colorMap[stroke]);
    .borderRadius(5px);
    padding: 0 8px;
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 8px;

    &.-pan {
      width: 60%;
    }
    &.-exp {
      width: calc(20% - 8px);
    }
    &.-cvv {
      width: calc(20% - 8px);
    }

    &.-cvv {
      width: calc(20% - 8px);
    }

    &.-saveCard {
      padding: 0;
      border: none;
    }

    iframe {
      width: 100% !important;
      height: 100% !important;
    }

    input {
      margin: 0 8px 0 0;
    }
  }

  &_button {
    .payplugButton;
  }

  &_error {
    color: #colorMap[error];
    margin: 0 15px 0 0;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    white-space: normal;
  }
}
