/* Payplug payment */
.payplugPayment {
  a {
    background: #fbfbfb;
    padding-left: 15px !important;

    img {
      position: relative;
      left: auto;
      margin: 0 8px 0 0;
      max-width: 200px;
      max-height: 30px;

      @media (@tablet) {
        display: none;
      }
    }


    &:hover {
      background-color: #F6F6F6;
    }
    &:after {
      display: block;
      content: "\f054";
      position: absolute;
      right: 15px;
      margin-top: -11px;
      top: 50%;
      font-family: "FontAwesome";
      font-size: 25px;
      height: 22px;
      width: 14px;
      color: #777;
    }
  }

  .oneyLogo {
    &.-withoutFees {
      max-height: 40px;
    }
    &.-optimized-16 {
      width: 150px;
      max-height: 60px;
    }
  }

  &_error {
    color: @errorColor;
    font-size: 13px;
    font-weight: 400;
  }
}
