/* Payplug payment option */
.payplugPaymentOption {
  line-height: 2rem;
  label {
    text-align: left;
  }
  img {
    margin: 0 12px 0 5px;
    max-height: 30px;
    max-width: 200px;

    @media (@tablet) {
      display: none;
    }
  }
  .custom-radio {
    margin-top: 0.5rem;
  }
}
