/* Payplug payment option */
.payplugPaymentOption {
  label {
    margin: 0;
    text-align: left;
  }
  img {
    margin: 0 12px 0 0;
    height: 33px;

    @media (@tablet) {
      display: none;
    }
  }
}
