/* Payplug payment option */
.payplugPaymentOption {
  label {
    margin: 0;
    text-align: left;
  }
  img {
    margin: 0 12px 0 5px;
    height: 30px;

    @media (@tablet) {
      display: none;
    }
  }
  .custom-radio {
    margin-top: 0.25rem;

    @media (@tablet) {
      margin-top: 0;
    }
  }
}
