
form div.card-wrapper {
  overflow: hidden;
  line-height: normal;
  padding: 0 0 10px 0;
}

form div.card-wrapper input {
  float: left;
}

div.info-wrapper div:first-child {
  padding: 0;
}

form input[name=payplug_card] {
  /*float: left;*/
  margin: 10px 10px 0 0;
}

form div label {
  float: left;
}

form div label img {
  float: left;
  padding: 0 8px 0 0;
  width: 60px;
}

form div label div.info-wrapper {
  float: left;
}

label[for=payplug_card_new] {
  /*padding: 10px 0 0 0;*/
}

.payplug_expiry_date {
  display: block;
  font-size: 13px;
  font-weight: normal;
  padding: 0 0 0 19px;
  text-align: center;
}

.ppdelete {
  display: block;
  padding: 0 0 0 19px;
  text-decoration: underline;
  font-weight: normal;
  font-size: 0.8em;
  width: 160px;
}

.ppdelete:hover,
.ppdelete:active,
.ppdelete:visited,
.ppdelete:focus {
  text-decoration: underline;
}

.ppsubmit {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00ab7a none repeat scroll 0 0;
  border-radius: 0.25em;
  color: #ffffff;
  font-weight: 700;
  height: 3em;
  margin: 1em auto 0 auto;
  padding: 0;
  text-transform: uppercase;
  min-width: 11em;
  border: none;
}

.ppsubmit:hover {
  background: #49a482 none repeat scroll 0 0;
}

.ppsubmit.disable {
  background: #dddddd none repeat scroll 0 0;
}

.ppOneClickStatus {
  font-size: 14px;
  clear: both;
}

.ppfail {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 15px;

  .material-icons {
    margin: 0 19px 0 -4px;
  }
}

.ppOneClickStatus p {
  text-align: left;
  font-weight: bold;
}

@media (max-width: 700px) {
  .ppOneClickStatus p {
    width: 250px;
  }
}

@media (max-width: 600px) {
  .card-wrapper,
  .info-wrapper {
    font-size: 14px;
  }

  .ppsubmit {
    position: relative;
    display: block;
  }

  .ppOneClickStatus {
    position: relative;
    bottom: 0;
    right: 0;
  }

  .ppOneClickStatus p {
    bottom: 0;
    position: relative;
    text-align: center;
    width: auto;
  }
}

.loader {
  left: 50%;
  margin-right: -30px;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 11px;
  z-index: 9999;
  background: #000000;
}

.ppOneClickStatus .loader {
  width: 30px;
  height: 30px;
  background: none;
  position: relative;
  top: auto;
  left: auto;
  padding: 0;
  margin: 0;
}

.ppsuccess {
  color: #00ab7a;
}

p.ppwait {
  display: none;
  bottom: 6em;
  right: 12em;
}

.ppfail {
  color: #dd2525;
}

div.ppoverlay {
  /*background: url('../img/admin/spinner.gif') no-repeat #000000 center;*/
  background-color: transparent;
  background-size: 30px 30px;
  /*background: transparent none repeat scroll 0 0;*/
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  /*opacity: 0.5;*/
}

.ppbold {
  font-weight: bold;
}

#module-payplug-cards div.message {
  display: none;
}

body#checkout section.checkout-step .payment-options .payplug-payment-option label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

body#checkout section.checkout-step .payment-options .payplug-payment-option img {
  margin: 0 12px 0 0;
}
