@import "../../less/include";
@import "button";
//
.payplugUIButtonLink {
  .payplugUIButton ();

  text-decoration: none!important;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;

  &:hover,
  &.-hover {
    color: #colorMap[white]!important;
  }
  &:visited, &:active, &:link {
    color: #colorMap[white]!important;
  }

  &.-icon {
    padding-left: 15px;

    .buttonIcon {
      fill: #colorMap[white];
      margin-top: 5px;
      margin-right: 5px;
      transition: all @dur;
    }
  }
  // secondary
  &.-secondary {
    color: #colorMap[purple]!important;
    vertical-align: middle;

    &.-icon {
      .buttonIcon {
        fill: #colorMap[purple];
      }
    }

    &:hover,
    &.-hover {
      color: #colorMap[white]!important;
      &.-icon {
        .buttonIcon {
          fill: #colorMap[white];
        }
      }
    }
    &.-disabled {
      color: #colorMap[purple]!important;
    }
  }

  // tertiary
  &.-tertiary {
    color: #colorMap[fontMainDefault]!important;
    &.-icon {
      .buttonIcon {
        fill: #colorMap[fontMainDefault];
      }
    }
    &:hover,
    &.-hover {
      color: #colorMap[fontMainDefault]!important;
    }
  }
}