@import "../../less/include";


.bootstrap {
  .payplugUIInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      .Roboto(14px, 700);
      line-height: 20px;
      margin: 0 0 4px;
    }

    input {
      &[type=text],
      &[type=password] {
        .border(#colorMap[borderMain]);
        border-radius: 4px;

        width: 100%;
        height: 36px;
        padding: 8px 12px;

        background: inherit;
        cursor: pointer;

        &::placeholder {
          color: fade(#colorMap[fontMainDefault], 80%);
          opacity: 1;
        }

        &:focus,
        &:hover {
          border-color: #colorMap[purple];
        }

        &:focus {
          background: inherit;
        }

        &:disabled {
          background: #colorMap[grey];

          &::placeholder {
            color: #colorMap[fontMainDisabled];
            opacity: 1;
          }

          &:hover {
            border-color: #colorMap[borderMain];
          }
        }
      }
    }

    &.-focus,
    &.-hover {
      input {
        &[type=text],
        &[type=password] {
          border-color: #colorMap[purple];
        }
      }
    }

    &.-error {
      input {
        &[type=text],
        &[type=password] {
          border-color: #colorMap[red];
        }
      }
    }

    //&.-disabled {
    //  input {
    //    &[type=text],
    //    &[type=password] {
    //      cursor: default;
    //      background: #colorMap[grey];
    //
    //      &::placeholder {
    //        color: #colorMap[fontMainDisabled];
    //        opacity: 1;
    //      }
    //      &:hover {
    //        border-color: #colorMap[borderMain];
    //      }
    //    }
    //  }
    //}
  }
}