@import "../../less/include";

.payplugUIParagraph {
  @size: 10;
  .Roboto(~"@{size}px", 400);
  color: #colorMap[fontMainDefault];
  line-height: "calc(20em @{size})";
  margin: 0 0 "calc(8em/@{size})";

  &.-disabled {
    color: #colorMap[fontMainDisabled];
  }
}