@import "../../less/include";

.payplugUITitle {
  @size: 14;
  .Roboto(~"@{size}px", 700);
  color: #colorMap[fontMainDefault];
  line-height: calc(~"20em @{size}");
  margin: 0 0 calc(~"8em/@{size}");

  &.-disabled {
    color: #colorMap[fontMainDisabled];
  }
}