log/*.csv
config*.xml
php-cs-fixer-v2.phar
.DS_Store
.idea
node_modules/
vendor/
views/css/*.css
views/css/*.map
views/css/less/*.css
views/css/less/*.map
views/css/less/*/*.css
views/css/less/*/*.map
views/css/less/*/*/*.css
views/css/less/*/*/*.map
views/css/less/*/*/*/*.css
views/css/less/*/*/*/*.map
ci/translations.csv
features.json
features_bnpl.json
html/
phpunit.log
