log/*.csv
config*.xml
php-cs-fixer-v2.phar
.php_cs.cache
.DS_Store
.idea/
.well-know/
node_modules/
composer.json
composer.lock
features.json
package-lock.json
package.json
upgrade/
vendor/
views/css/*.css
views/css/*.map
views/js/*.js
views/img/*.svg
views/img/*.png
views/img/*.jpg
views/img/admin/img/
dev/ci/translations.csv
dev/css/less/include.less
dev/css/components/atoms/*.map
dev/css/components/atoms/*.css
dev/css/*.css
dev/css/*.map
!dev/dist/*/upgrade/
html/
phpunit.log
!dev/dist/*/views/
!dev/dist/*/views/js/*.js
!dev/dist/*/views/css/*.css