parameters:
    level: 1
    paths:
        - src
        - classes

    # Chargement du bootstrap pour les constantes et les classes globales
    bootstrapFiles:
        - tests/stubs/phpstan-bootstrap.php
