parameters:
    level: 1
    phpVersion: 70400
    paths:
        - src
        - classes
    excludePaths:
        - src/utilities/services/Mcp.php

    # Chargement du bootstrap pour les constantes et les classes globales
    bootstrapFiles:
        - tests/stubs/phpstan-bootstrap.php
