p.payment_module a.payplug {
  //background: url('../img/logos_schemes_default.png') 15px center no-repeat #FBFBFB;
  padding-left: 240px;
  cursor: pointer;
}

p.payment_module a.payplug.it {
  background-image: url('../img/logos_schemes_it.png');
}

p.payment_module a.payplug.installment_2 {
  background: url('../img/logos_schemes_installment_2_default.png') 15px center no-repeat #FBFBFB;
}

p.payment_module a.payplug.installment_2.it {
  background-image: url('../img/logos_schemes_installment_2_it.png');
}

p.payment_module a.payplug.installment_2.en {
  background-image: url('../img/logos_schemes_installment_2_en.png');
}

p.payment_module a.payplug.installment_3 {
  //background: url('../img/logos_schemes_installment_3_default.png') 15px center no-repeat #FBFBFB;
}

p.payment_module a.payplug.installment_3.it {
  background-image: url('../img/logos_schemes_installment_3_it.png');
}

p.payment_module a.payplug.installment_3.en {
  background-image: url('../img/logos_schemes_installment_3_en.png');
}

p.payment_module a.payplug.installment_4 {
  background: url('../img/logos_schemes_installment_4_default.png') 15px center no-repeat #FBFBFB;
}

p.payment_module a.payplug.installment_4.it {
  background-image: url('../img/logos_schemes_installment_4_it.png');
}

p.payment_module a.payplug.installment_4.en {
  background-image: url('../img/logos_schemes_installment_4_en.png');
}

p.payment_module a.payplug:hover {
  background-color: #F6F6F6;
}

p.payment_module a.payplug:after {
  display: block;
  content: "\f054";
  position: absolute;
  right: 15px;
  margin-top: -11px;
  top: 50%;
  font-family: "FontAwesome";
  font-size: 25px;
  height: 22px;
  width: 14px;
  color: #777;
}

div.payplug-wrapper {
  .borderRadius(4px);
  border: 1px solid #d6d4d4;
  background: #fbfbfb;
  color: #333;
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
  position: relative;
  margin: 0 0 10px;
}

div.payplug-wrapper .payment_module {
  letter-spacing: -1px;
}

div.payplug-wrapper .payment_module span {
  background: url('../img/logos_schemes_default.png') 15px center no-repeat #FBFBFB;
  /*padding-left: 197px;*/
  padding: 33px 40px 34px 240px;
  display: block;
}

div.payplug-wrapper .payment_module span.it {
  background-image: url('../img/logos_schemes_it.png');
}

div.payplug-wrapper form {
  padding: 0 0 10px 16px;
  position: relative;
}

div.payplug-wrapper form div.card-wrapper {
  overflow: hidden;
  line-height: normal;
  padding: 0 0 10px 0;
}

div.payplug-wrapper div:first-child {
  float: left;
  padding: 10px 15px 0 0;
}

div.info-wrapper div:first-child {
  padding: 0;
}

div.payplug-wrapper form input[name=payplug_card] {
  float: left;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

div.payplug-wrapper form div label {
  float: left;
  cursor: pointer;
}

div.payplug-wrapper form div label img {
  float: left;
  padding: 0 8px 0 0;
}

div.payplug-wrapper form div label div.info-wrapper {
  float: left;
}

div.payplug-wrapper label[for=payplug_card_new] {
  /*padding: 10px 0 0 0;*/
}

.payment_option_standard_payment_logo, .payment_option_installment_3_logo, .payment_option_oney_3_4 {
  position: absolute;
  left: 15px;
  //min-width: 142px;
}

.payplug_expiry_date {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
  /*padding: 0 0 0 19px;*/
  padding: 0 0 0 0;
}

.ppdelete {
  display: block;
  padding: 0 0 0 19px;
  text-decoration: underline;
  font-weight: normal;
  font-size: 0.8em;
  width: 160px;
}

.ppdelete:hover,
.ppdelete:active,
.ppdelete:visited,
.ppdelete:focus {
  text-decoration: underline;
}

.ppsubmit {
  .borderRadius(0.25em);
  position: absolute;
  bottom: 0;
  right: 0;
  background: #colorMap[payplug];
  color: #ffffff;
  font-weight: 700;
  height: 3em;
  margin: 1em auto 0 auto;
  padding: 0;
  text-transform: uppercase;
  min-width: 11em;
  border: none;

  &:hover {
    background: darken(#colorMap[payplug],5);
  }
  &.disable {
    background: #dddddd none repeat scroll 0 0;
  }
}

.ppOneClickStatus {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 14px;
}

.ppOneClickStatus p {
  bottom: 3em;
  font-weight: normal;
  position: absolute;
  right: 0;
  text-align: center;
  width: 325px;
  display: none;
  text-align: right;
}


@media (max-width: 700px) {
  .ppOneClickStatus p {
    width: 250px;
  }
}

@media (max-width: 600px) {
  .card-wrapper,
  .info-wrapper {
    font-size: 14px;
  }

  .ppsubmit {
    position: relative;
    display: block;
  }

  .ppOneClickStatus {
    position: relative;
    bottom: 0;
    right: 0;
  }

  .ppOneClickStatus p {
    bottom: 0;
    position: relative;
    text-align: center;
    width: auto;
  }
}

.loader {
  left: 50%;
  margin-right: -30px;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  .borderRadius(11px);
  z-index: 9999;
  background: #000000;
}

.ppOneClickStatus .loader {
  width: 30px;
  height: 30px;
  background: none;
  position: relative;
  top: auto;
  left: auto;
  padding: 0;
  margin: 0;
}

.ppsuccess {
  color: #colorMap[payplug];
}

.ppfail {
  color: #dd2525;
}

.ppfail-default,
.ppfail-installment {
  font-size: 13px;
  font-weight: 400;
}

div.ppoverlay {
  /*background: url('../img/admin/spinner.gif') no-repeat #000000 center;*/
  background-color: transparent;
  background-size: 30px 30px;
  /*background: transparent none repeat scroll 0 0;*/
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  /*opacity: 0.5;*/
}

.ppbold {
  font-weight: bold;
}

a.ppdeletecard {
  text-decoration: underline;
}

#module-payplug-cards p.message {
  display: none;
}

a.payplug.call.pphide {
  display: none;
}
