

.ppdelete {
  display: block;
  padding: 0 0 0 19px;
  text-decoration: underline;
  font-weight: normal;
  font-size: 0.8em;
  width: 160px;
}

.ppdelete:hover,
.ppdelete:active,
.ppdelete:visited,
.ppdelete:focus {
  text-decoration: underline;
}

.ppOneClickStatus {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 14px;
}

.ppOneClickStatus p {
  bottom: 3em;
  font-weight: normal;
  position: absolute;
  right: 0;
  text-align: center;
  width: 325px;
  display: none;
  text-align: right;
}


@media (max-width: 700px) {
  .ppOneClickStatus p {
    width: 250px;
  }
}

@media (max-width: 600px) {
  .card-wrapper,
  .info-wrapper {
    font-size: 14px;
  }

  .ppsubmit {
    position: relative;
    display: block;
  }

  .ppOneClickStatus {
    position: relative;
    bottom: 0;
    right: 0;
  }

  .ppOneClickStatus p {
    bottom: 0;
    position: relative;
    text-align: center;
    width: auto;
  }
}

.loader {
  left: 50%;
  margin-right: -30px;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  .borderRadius(11px);
  z-index: 9999;
  background: #000000;
}

.ppOneClickStatus .loader {
  width: 30px;
  height: 30px;
  background: none;
  position: relative;
  top: auto;
  left: auto;
  padding: 0;
  margin: 0;
}

.ppsuccess {
  color: #colorMap[payplug];
}

.ppfail {
  color: #dd2525;
}

.ppfail-default,
.ppfail-installment {
  font-size: 13px;
  font-weight: 400;
}

div.ppoverlay {
  /*background: url('../img/admin/spinner.gif') no-repeat #000000 center;*/
  background-color: transparent;
  background-size: 30px 30px;
  /*background: transparent none repeat scroll 0 0;*/
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  /*opacity: 0.5;*/
  display: none;
}

.ppbold {
  font-weight: bold;
}

a.ppdeletecard {
  text-decoration: underline;
}

#module-payplug-cards p.message {
  display: none;
}

a.payplug.call.pphide {
  display: none;
}
