#windowSize() {
  mobile: ~"max-width: 767px";
  desktop: ~"min-width: 768px";
}

#imgPath() {
  default: ~"../img/";
  admin: ~"../img/admin/";
  oney: ~"../img/oney/";
}

#colorMap() {
  dark: #303030;
  grey: #b2b2b2;
  oney: #7ebd00;
  payplug: #00ab7a;
  error: #e56876;
  warning: #f7a000;
  stroke: #ccc;
}

#durationMap() {
  fast: 0.2s;
  default: 0.4s;
  slow: 0.6s;
}
