#windowSize() {
  mobile: ~"max-width: 767px";
  tablet: ~"max-width: 1023px";
  desktop: ~"min-width: 1024px";
}

#imgPath() {
  default: ~"../img/";
  admin: ~"../img/admin/";
  oney: ~"../img/oney/";
  scheme: ~"../img/integrated/";
}

#colorMap() {
  dark: #303030;
  grey: #b2b2b2;
  oney: #7ebd00;
  module: #00ab7a;
  error: #e56876;
  warning: #f7a000;
  stroke: #ccc;
  deferred_color: #2B343D;
  deferred_background: #E9EAEB;
}

#durationMap() {
  fast: 0.2s;
  default: 0.4s;
  slow: 0.6s;
}
