@mobile: #windowSize[mobile];
@tablet: #windowSize[tablet];

@img: #imgPath[default];
@img_admin: #imgPath[admin];
@img_oney: #imgPath[oney];

@dur: #durationMap[default];

@oneyColor: #colorMap[oney];
@errorColor: #colorMap[error];
