/* Payplug Admin Config */
.payplugOney {
  &_error {
    display: none;
    color: #colorMap[error];
  }
}
  .payplugThresholds {
    float: right;
    display: inline;
    &_Min {
      width: 100px;
      margin: 20px;
      display: inline;
    }

  }

