@import "../../less/include";

.payplugUIAccordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .border(@color-border);
  position: relative;
  width: 100%;
  border-radius: 4px;

  > input {
    display: none;

    &:checked {
      ~ label {
        &:after {
          .transform(translateY(-50%) rotate(-180deg));
        }
      }

      ~ div {
        max-height: 100vh;
      }
    }
  }

  > label {
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 72px 30px 24px;
    margin: 0;
    color: @color-primary;

    cursor: pointer;

    &:after {
      .transition(~"transform @{dur}");
      .transform(translateY(-50%));

      position: absolute;
      top: 50%;
      left: calc(100% - 48px);

      display: block;
      width: 12px;
      height: 8px;

      content: "";
      -webkit-mask-image: url(~"@{img-icons}arrow_down.svg");
      mask-image: url(~"@{img-icons}arrow_down.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      background-color: @color-text-secondary;
    }
  }

  &_content {
    &Wrapper {
      padding: 0 24px;
      max-height: 0;
      overflow: hidden;
      transition: all .35s;
      max-width: 100%;
    }

    padding: 0 0 30px;
  }
}