.payplugUIAction {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 36px;
  padding: 0 8px;

  .borderRadius(4px);
  border: none;

  &,
  &:focus,
  &:active {
    .transition(~"color @{dur}, background @{dur}");
    color: #colorMap[fontMainDefault];
    background: transparent;
    text-decoration: none;
  }

  &.-hover,
  &:hover {
    color: @color-primary;
    background: @color-primary-lighten;
    text-decoration: none;
  }

  &.-disabled,
  &[disabled="disabled"]{
    opacity: .3;
    cursor: default;
    color: #colorMap[fontMainDefault];
    background: transparent;
  }
}