@import "../../less/include";

.payplugUiBlock {
  .border(#colorMap[borderMain]);
  .borderRadius(4px);

  display: flex;
  flex-direction: column;
  align-items: start;

  width: 100%;
  max-width: 1000px;
  position: relative;
  padding: 40px 64px;
  margin: 0 auto 24px;
  overflow: hidden;
  background: #colorMap[white];

  @media (@screen-mobile) {
    padding: 24px;
  }

  > ._title {
    @size: 20;
    .Inter(~"@{size}px", 700);
    letter-spacing: calc(-0.33em / ~"@{size}");
    line-height: calc(29em/~"@{size}");
    color: #colorMap[fontMainDefault];
    position: relative;
    margin: 0 0 21px;

    &:after {
      content: "";
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      display: block;
      width: 40px;
      height: 5px;
      background: @color-border-title;
    }
  }

  ._description {
    margin: 0 0 24px;
  }

  > ._content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &.-disabled {
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @bg: #colorMap[white];
      background: fade(@bg, 70%);
      z-index: 99;
      border-radius: inherit;
    }
  }

  &.-center {
    ._content {
      align-items: center;
    }
  }
}