@import "../../less/include";

.payplugUIButton {
  // default
  .transition(~"background @{dur}, color @{dur}");

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @size: 14;
  height: calc(40em / ~"@{size}");
  padding: 0 calc(20em / ~"@{size}");

  background: @color-primary;
  border-radius: 4px;
  border: none;

  .Inter(~"@{size}px", 600);
  letter-spacing: calc(1em / ~"@{size}");
  white-space: nowrap;
  text-decoration: none;

  &,
  &:focus,
  &:active {
    color: #colorMap[white];
    text-decoration: none;
  }

  &:hover,
  &.-hover {
    // primary 900
    background: @color-primary-darken;
    color: #colorMap[white];
  }

  &.-disabled,
  &[disabled="disabled"] {
    opacity: .3;
    cursor: default;
    background: @color-primary;
  }

  // secondary
  &.-secondary {
    .border(@color-primary);
    background: #colorMap[white];

    &,
    &:focus,
    &:active {
      color: @color-primary;
    }

    &:hover,
    &.-hover {
      background: @color-primary;
      color: #colorMap[white];
    }

    &.-disabled {
      background: #colorMap[white];
      color: @color-primary;
    }
  }

  // tertiary
  &.-tertiary {
    .border(#colorMap[borderMain]);
    background: #colorMap[white];

    &,
    &:focus,
    &:active {
      color: @color-text-main;
    }

    &:hover,
    &.-hover {
      background: @color-text-secondary-lighten;
    }

    &:active {
      background: @color-text-secondary-light;
    }

    &.-disabled {
      background: #colorMap[white];
    }
  }
}