@import "../../less/include";
@import "button";
//
.payplugUIButtonLink {
  .payplugUIButton ();

  &.-hover,
  &:hover {
    text-decoration: none;
    color: #colorMap[white];
  }

  &.-icon {
    svg {
      .transition(~"fill @{dur}");
      fill: #colorMap[white];
      margin: 5px 8px 0 0;
      width: 24px;
      height: 24px;
    }

    &.-hover,
    &:hover {
      svg {
        fill: #colorMap[white];
      }
    }
  }

  // secondary
  &.-secondary {
    &.-icon {
      svg {
        fill: @color-primary;
      }

      &.-hover,
      &:hover {
        svg {
          fill: #colorMap[white];
        }
      }
    }
  }

  // tertiary
  &.-tertiary {
    &.-hover,
    &:hover {
      color: @color-text-main;
    }

    &.-icon {
      svg {
        fill: @color-text-main;
      }

      &.-hover,
      &:hover {
        svg {
          fill: @color-text-main;
        }
      }
    }
  }
}