.payplugUIImage {
  .border(@color-text-secondary-light);
  .borderRadius(4px);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  width: 200px;
  background: @color-text-secondary-lighten;

  img {
    display: block;
    max-width: calc(100% - 8px);
    max-height: calc(100% - 8px);
    width: auto;
    height: auto;
  }
}