@import "../../less/include";

.payplugUIInput {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;

  label {
    font-weight: 700;
    margin: 0 0 4px;
    color: @color-text-main;
  }

  input {
    &[type=text],
    &[type=password],
    &[type=number] {
      .border(#colorMap[borderMain]);
      border-radius: 4px;

      width: 100%;
      height: 36px;
      padding: 8px 12px;

      background-color: inherit;
      cursor: pointer;

      &::placeholder {
        color: fade(@color-text-main, 80%);
        opacity: 1;
      }

      &:focus,
      &:hover {
        border-color: @color-primary;
      }

      &:focus-visible {
        outline: none;
      }

      &:focus {
        background-color: inherit;
      }

      &:disabled {
        background-color: @color-background;
        color: @color-text-disable;
        cursor: default;

        &::placeholder {
          color: @color-text-disable;
          opacity: 1;
        }

        &:hover {
          border-color: #colorMap[borderMain];
        }
      }
    }
  }

  &.-icon {
    position: relative;

    &:before {
      .transform(translateY(-50%));
      background-color: @color-text-secondary;
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 4px;
      width: 24px;
      height: 24px;
      z-index: 0;
      mask-position: 50%;
      -webkit-mask-position: 50%;
    }

    input {
      &[type=text],
      &[type=password],
      &[type=number] {
        padding-left: 28px;
        z-index: 1;
      }
    }

    &Euro {
      &:before {
        -webkit-mask-image: url(~"@{img-icons}euro_symbol.svg");
        mask-image: url(~"@{img-icons}euro_symbol.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
      }
    }

    &.-disabled {
      &:before {
        z-index: 2;
        background-color: @color-text-disable;
      }
    }
  }

  &.-focus,
  &.-hover {
    input {
      &[type=text],
      &[type=password],
      &[type=number] {
        border-color: @color-primary;
      }
    }
  }

  &.-error {
    input {
      &[type=text],
      &[type=password],
      &[type=number] {
        border-color: @color-warning;
      }
    }
  }
}