@import "../../less/include";

.payplugUILink {
  text-decoration: none;
  color: @color-primary;

  &:hover,
  &.-hover {
    // primary 900
    color: @color-primary-darken;
    text-decoration: none;
  }

  &.-disabled,
  &[disabled="disabled"] {
    opacity: .3;
    cursor: default;
    color: @color-primary;
  }
}
