.payplugUILoader {
  @size: 50;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  height: 1em;
  width: 1em;
  margin: -.5em 0 0 -.5em;

  font-size: ~"@{size}px";
  animation: rotate 3s infinite;

  span {
    position: relative;
    display: block;
    height: ~"@{size}px";
    width: ~"@{size}px";
    margin: calc(-9em / ~"@{size}") 0 0 calc(-9em / ~"@{size}");
    z-index: 2;

    &:before,
    &:after {
      border-radius: 50%;
      content: '';
      display: block;
      height: calc(35em / ~"@{size}");
      width: calc(35em / ~"@{size}");
    }
    &:before {
      animation: ball1 3s infinite;
      background-color: #colorMap[primary];
      box-shadow: calc(30em / ~"@{size}") 0 0 calc(-8em / ~"@{size}") #363A41;
      margin: 0 0 calc(-5em / ~"@{size}") calc(30em / ~"@{size}");
    }

    &:after {
      animation: ball2 3s infinite;
      background-color: #colorMap[primary];
      box-shadow: calc(30em / ~"@{size}") 0 0 calc(-8em / ~"@{size}") #363A41;
    }
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg) scale(0.8);
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
      -webkit-transform: rotate(360deg) scale(1.2);
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
      -webkit-transform: rotate(720deg) scale(0.8);
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }

  @keyframes ball1 {
    0% {
      box-shadow: calc(-30em / ~"@{size}") 0 0 calc(-8em / ~"@{size}") #363A41;
      margin: 0 0 calc(-5em / ~"@{size}") calc(30em / ~"@{size}");
    }
    50% {
      box-shadow: 0 0 0 calc(-8em / ~"@{size}") #363A41;
      margin: 0 0 calc(-35em / ~"@{size}");
      -webkit-transform: translate(calc(15em / ~"@{size}"),calc(15em / ~"@{size}"));
      -moz-transform: translate(calc(15em / ~"@{size}"), calc(15em / ~"@{size}"));
    }
    100% {
      box-shadow: calc(-30em / ~"@{size}") 0 0 calc(-8em / ~"@{size}") #363A41;
      margin: 0 0 calc(-5em / ~"@{size}") calc(30em / ~"@{size}");
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: calc(30em / ~"@{size}") 0 0 calc(-8em / ~"@{size}") #363A41;
    }
    50% {
      box-shadow: 0 0 0 calc(-8em / ~"@{size}") #363A41;
      margin: calc(-35em / ~"@{size}") 0 0;
      -webkit-transform: translate(calc(15em / ~"@{size}"),calc(15em / ~"@{size}"));
      -moz-transform: translate(calc(15em / ~"@{size}"), calc(15em / ~"@{size}"));
    }
    100% {
      box-shadow: calc(30em / ~"@{size}") 0 0 calc(-8em / ~"@{size}") #363A41;
    }
  }
}