@import "../../less/include";

.payplugUIIOptions {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  label {
    display: flex;
    cursor: pointer;
    max-width: 200px;
    margin: 0;

    &:hover,
    &.-hover {
      > span {
        background: #colorMap[fontSecondary100];
      }
    }

    > span {
      .transition(~"background-color @{dur}, color @{dur}");
      .border(#colorMap[fontMainDisabled]);
      .borderRadius(4px);
      display: block;
      box-sizing: border-box;
      width: 100%;
      color: #colorMap[fontMainDefault];
      background: #colorMap[fontSecondary50];
      padding: 7px 40px 7px 10px;
      font-weight: normal;

      > span {
        font-size: 12px;
        line-height: 1.5em;
        display: block;
        color: inherit;
        margin: 6px 0 2px;
      }
    }

    input[type="radio"] {
      display: none;
      &:checked {
        ~ span {
          .border(@color-primary);
          background: @color-primary-lighten;
          color: @color-primary;
          position: relative;
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: calc(100% - 30px);
            width: 24px;
            height: 24px;
            -webkit-mask-image: url(~"@{img-icons}check.svg");
            mask-image: url(~"@{img-icons}check.svg");
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            background-color: @color-primary;
          }

          > span {
            color: @color-tertiary;
          }
        }
      }
    }

    & + label {
      margin: 0 0 0 8px;
    }

    &.-disabled {
      cursor: default;

      > span {
        color: #colorMap[fontMainDefault];
        background: #colorMap[fontSecondary50];
        opacity: .3;
      }

      &:hover,
      &.-hover {
        div {
          color: #colorMap[fontMainDefault];
          background: #colorMap[fontSecondary50];
        }
      }
    }
  }
}