@import "../../less/include";

.payplugUIIOptions {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  label {
    @size: 14;
    display: flex;
    font-size: ~"@{size}px";
    cursor: pointer;
    max-width: 200px;
    margin: 0;

    &:hover,
    &.-hover {
      div {
        background: #colorMap[fontSecondary100];
      }
    }

    &.-disabled {
      cursor: default;

      div {
        color: #colorMap[fontMainDefault];
        background: #colorMap[fontSecondary50];
        opacity: .3;
      }

      &:hover,
      &.-hover {
        div {
          color: #colorMap[fontMainDefault];
          background: #colorMap[fontSecondary50];
        }
      }
    }

    div {
      .transition(~"background-color @{dur}, color @{dur}");
      .border(#colorMap[fontMainDisabled]);
      .borderRadius(4px);

      color: #colorMap[fontMainDefault];
      background: #colorMap[fontSecondary50];

      padding: 10px 40px 10px 10px;
      font-weight: normal;

      p {
        font-size: calc(12em / ~"@{size}");
        margin: 0;
      }
    }

    input[type="radio"] {
      display: none;
      &:checked {
        ~ div {
          background: #colorMap[radioButtonBackground] url(~"@{img_icons}check_24px.svg") no-repeat top 15px right 13px;
          color: #colorMap[purple];

          p {
            color: #colorMap[iris];
          }
        }
      }
    }

    & + label {
      margin: 0 0 0 8px;
    }
  }
}