@import "../../less/include";

.payplugUIParagraph {
  @size: 14;
  .Roboto(~"@{size}px", 400);
  color: #colorMap[fontSecondaryDefault];
  line-height: calc(20em / ~"@{size}");
  margin: 0 0 calc(8em / ~"@{size}");
  letter-spacing: 0.25px;

  &.-disabled {
    color: #colorMap[fontMainDisabled];
  }
}