.payplugUISelect {
  .border(@color-border);
  .borderRadius(4px);
  background: #colorMap[white];
  position: relative;
  display: block;
  height: 36px;
  margin: 0 auto;
  cursor: pointer;

  ._current {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 40px 0 12px;

    &:after {
      .transition(~"transform @{dur}");
      .transform(translateY(-50%));

      position: absolute;
      top: 50%;
      left: calc(100% - 23px);

      display: block;
      width: 12px;
      height: 8px;

      content: "";
      -webkit-mask-image: url(~"@{img-icons}arrow_down.svg");
      mask-image: url(~"@{img-icons}arrow_down.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      background-color: @color-text-secondary;
    }

    &:focus {
      &:after {
        .transform(translateY(-50%) rotate(-180deg));
      }
      & + ._list {
        max-height: 100vh;
      }
    }
  }

  ._value {
    display: flex;
  }

  ._input {
    display: none;

    &:checked + ._text {
      display: block;
    }
  }

  ._text {
    display: none;
    margin: 0;
    color: @color-text-main;
    white-space: nowrap;
  }

  ._list {
    .transition(~"max-height @{dur}");
    .transform(translateX(-50%));
    overflow: hidden;
    max-height: 0;

    position: absolute;
    top: calc(100% - 2px);
    left: 50%;

    width: calc(100% + 2px);
    z-index: 999;

    ul {
      .border(@color-border, rbl);
      .borderRadius(0 0 4px 4px);
      background: #colorMap[white];
      list-style: none;
      padding: 0;
    }
  }

  ._option {
    .transition(~"background @{dur}");
    position: relative;
    display: flex;
    align-items: center;
    min-height: 36px;
    margin: 0;
    padding: 0 12px;
    background: #colorMap[white];
    color: inherit;
    cursor: pointer;
    font-weight: 400;
    z-index: 1;
    font-weight: 400;

    &:hover {
      color: @color-primary;
      // primary 50
      background: @color-primary-lighten;
    }
  }

  &.-disabled {
    cursor: default;

    ._current {
      opacity: .3;
    }
  }
}