@import "../../less/include";

.payplugUITooltip {
  position: relative;
  width: 24px;
  height: 24px;

  input[type="checkbox"] {
    display:none;

    &:checked {
      & ~ ._overlay,
      & ~ ._modal {
        display: block;
      }
    }
  }

  ._overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
  }

  ._modal {
    display: none;
    position: absolute;
    top: 7px;
    left: 7px;
    margin: auto;

    .borderRadius(4px);
    .border(#colorMap[borderMain]);
    background: #colorMap[white];

    padding: 8px;
    z-index: 2;
  }

  ._icon {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    svg {
      fill: #colorMap[fontMainDefault];
    }
    &:hover {
      svg {
        fill: @color-primary;
      }
    }
  }
}