/* Payplug Admin Alert */
.__moduleName__Alert {
  .border(transparent, l, 3px);
  display: flex;
  background: #fff;
  color: #000000;
  padding: 10px 20px;
  position: relative;
  line-height: 19px;

  &.-success {
    background: fade(#colorMap[primary], 15%);
    border-color: #colorMap[primary];

    a {
      &,
      &:hover,
      &:active,
      &:visited,
      &:focus {
        color: #colorMap[primary];
      }
    }
  }

  &.-warning {
    background: fade(#colorMap[warning], 15%);
    border-color: #colorMap[warning];
    color: fade(darken(#colorMap[warning], 10%), 80%);
    margin-bottom: 10px;

    &:before {
      content: "";
      display: block;
      background: 50% url(~"@{img-admin}icon-lock.png") no-repeat;
      background-size: contain;
      width: 11px;
      height: 15px;
      margin: 0 8px 0 -8px;
    }

    a {
      &,
      &:hover,
      &:active,
      &:visited,
      &:focus {
        color: #colorMap[warning];
      }
    }
  }
}
