/* Payplug Admin Installment */
.__moduleName__Installment {
  &_fieldset {
    .__moduleName__Panel {
      &_label {
        align-items: flex-start;
        font-weight: 400;
      }

      &_content {
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    label {
      display: flex;
      font-weight: 400;
      cursor: pointer;
      align-items: center;
    }

    input {
      &[type=radio] {
        margin: 0 5px 0 0;
      }

      &[type=text] {
        width: 70px;
        height: 28px;
        margin: 0 5px 0 0;
      }
    }
  }

  &_amount {
    display: flex;
    align-items: center;
    margin: -6px 0 0;

    span {
      color: #colorMap[error];
      display: none;
      margin: 0 0 0 8px;

      &.show {
        display: inline;
      }
    }
  }

  &_schedule {
    display: none;

    &.-select {
      display: block;
    }
  }
}
