/* Payplug Admin Link */
.__moduleName__Link {
  a&,
  button& {
    border: none;
    background: none;
    padding: 0;
    color: #colorMap[primary];
    text-decoration: none;
    outline: none;

    &:hover {
      text-decoration: underline;
      color: #colorMap[primary];
    }
  }
}
