/* Payplug Admin Config */
.__moduleName__OneyFees {
  display: flex;
  padding: 16px 0;

  &_option {
    .border(#colorMap[stroke]);
    .borderRadius(16px);
    .transition(border @dur);
    text-align: center;
    width: 223px;
    padding: 24px 16px 36px;
    position: relative;
    cursor: pointer;
    text-align: center;

    & + & {
      margin: 0 0 0 32px;
    }

    &.-selected {
      .border(#colorMap[module]);
    }
  }

  &_title,
  &_content,
  &_state {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_title {
    font-weight: 600;
    font-size: 12px;
    margin: 0 0 8px;
  }
  &_content {
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 16px;
  }
  &_state {
    .borderRadius(0 0 16px 16px);
    .transition(background @dur);
    background: #fff;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 36px;
    font-size: 14px;

    .-selected & {
      background: #colorMap[module];
    }
  }

  &_checker {
    .borderRadius(16px);
    .transition(opacity @dur);
    opacity: 0;
    position: absolute;
    top: -7px;
    left: -7px;
    width: 18px;
    height: 18px;
    background: #colorMap[module];

    &:before {
      .border(#fff, bl, 2px);
      .transform(translate(-50%, -50%) rotate(-45deg));
      position: absolute;
      top: 45%;
      left: 50%;
      width: 10px;
      height: 6px;
      content: "";
    }

    input {
      display: none;
    }

    .-selected & {
      opacity: 1;
    }
  }
}
