/* Payplug Admin Panel */
.__moduleName__Panel {
  display: flex;
  padding: 0 0 15px;

  &_label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    padding: 0 8px 0 0;
    font-weight: 700;
    text-align: right;

    // todo: rework this section, we should use modifier
    .__moduleName__Installment_fieldset & {
      width: 185px;
    }
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: flex-end;
    margin: 0 0 0 auto;
    width: 75%;
    padding: 0 0 0 8px;

    input {
      &[type=email],
      &[type=password],
      &[type=search],
      &[type=tel],
      &[type=text] {
        .borderRadius(3px);
        .border(#colorMap[stroke]);
        width: 200px;
        max-width: 100%;
        background: transparent;
        margin: 0;
        display: block;

        &:focus {
          background: transparent;
        }
      }
    }
  }

  &_section {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0;

    &.-nowrap {
      flex-wrap: nowrap;
    }
  }

  .-.__moduleName___standard & {
    padding: 16px 0 8px;

    .__moduleName__Panel_label,
    .__moduleName__Panel_content {
      margin: 0;
      padding: 0;
      width: auto;
    }

    .__moduleName__Panel_content {
      padding: 0 0 0 16px;
    }

    & + .__moduleName__Panel {
      .__moduleName__Panel_content {
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
  }
}
