/* Payplug Admin Settings */
.__moduleName__Settings {
  &_separator {
    .border(lighten(#colorMap[stroke], 10%), t);
    font-weight: 700;
    margin: 0;
    padding: 15px 0 20px 0;
    line-height: 2.2em;
  }
}
