/* Payplug Admin Switch */
.__moduleName__Switch {
  .borderRadius(.25em);
  .boxShadow(rgba(0, 0, 0, .15) 0 1px 4px 1px inset);
  background: rgba(0, 0, 0, .1);
  display: flex;
  position: relative;
  width: 160px;
  height: 26px;
  flex: 0 0 160px;

  &_label {
    label& {
      .transition(color @dur);
      position: relative;
      display: flex;
      width: 50%;
      height: 100%;
      z-index: 1;
      font-weight: 400;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .-disabled & {
        cursor: default;
      }
    }

    &.-left {
      color: #fff;
    }
  }

  &:before {
    .borderRadius(.25em);
    .transition(left @dur);
    //.boxShadow(rgba(0,0,0,.15) 0 1px 4px 1px inset);
    .border(darken(#colorMap[primary], 5%));
    border-bottom-width: 2px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #colorMap[primary];
    width: 50%;
    height: 100%;

    .-hide & {
      background: #colorMap[grey];
      .border(darken(#colorMap[grey], 5%));
    }
  }

  &.-right {
    .__moduleName__Switch_label {
      &.-left {
        color: inherit;
      }

      &.-right {
        color: #fff;
      }
    }

    &:before {
      left: 50%;
    }
  }

  &.-disabled {
    &:before {
      border-color: darken(#colorMap[stroke], 5%);
      background: #colorMap[stroke];
    }
  }

  &.-small {
    .borderRadius(10px);
    .transition(background @dur/1.5);
    .boxShadow();
    display: inline-block;
    background: transparent;
    width: 45px;
    flex: 0 0 45px;
    height: 20px;
    margin: 0 8px 0 0;
    cursor: pointer;
    background: #colorMap[primary];

    label {
      display: none;
    }

    & + label {
      margin: 0;
    }

    &:before {
      .borderRadius();
      .transform(translateY(-50%));
      .transition(left @dur);
      border: none;
      position: absolute;
      top: 50%;
      left: calc(100% - 18px);
      content: "";
      background: #fff;
      display: block;
      width: 16px;
      height: 16px;
    }

    &.-right {
      background: #colorMap[grey];

      &:before {
        left: 2px;
      }
    }

    &.-disabled {
      cursor: default;
      background: fade(#colorMap[grey], 50%);
    }

  }

  &.-format {
    width: 240px;
    flex: 0 0 240px;

    input:checked + label {
      transition: background 300ms linear;
      background: #colorMap[primary];
      border-radius: 0.25em;
      border: 1px solid;
      border-color: #colorMap[primary];
    }

    &_label {
      label& {
        .transition(color @dur);
        width: calc(100% / 3);
        z-index: 2;
      }
    }

    &:before {
      background: none;
      .borderRadius(.25em);
      .border(darken(#colorMap[primary], 5%));
      width: calc(100% / 3);
      z-index: 1;
      border: none;
    }

    &:after {
      .border(rgba(0, 0, 0, .2), rl);
      .transform(translateY(-50%));
      display: block;
      position: absolute;
      top: 50%;
      left: calc(100% / 3);
      width: calc(100% / 3);
      content: "";
      height: 70%;
      z-index: 0;
    }

    &.-left {
      &:before {
        width: calc(100% / 3 + 1px);
      }
    }

    &.-center {
      .__moduleName__Switch_label {
        &.-left, &.-right {
          color: inherit;
        }

        &.-center {
          color: #fff;
        }
      }

      &:before {
        left: calc(100% / 3);
      }
    }

    &.-right {
      .__moduleName__Switch_label {
        &.-left,
        &.-center {
          color: inherit;
        }

        &.-right {
          color: #fff;
        }
      }

      &:before {
        width: calc(100% / 3 + 1px);
        left: calc(200% / 3 - 1px);
      }
    }

    &.-disabled {
      &:before,
      input:checked + label{
        border-color: darken(#colorMap[stroke], 5%);
        background: #colorMap[stroke];
      }
    }
  }

  input {
    display: none;
  }
}
