@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:ital,wght@0,400;0,700;1,500&family=Gantari:ital,wght@0,400;0,700;1,500&display=swap');

.Poppins(@fz: 13px, @fw: 400){
  font-family: 'Poppins', sans-serif;
  font-size: @fz;
  font-weight: @fw;
}

.Inter(@fz: 13px, @fw: 400){
  font-family: 'Inter', sans-serif;
  font-size: @fz;
  font-weight: @fw;
}

.Roboto(@fz: 13px, @fw: 400){
  font-family: 'Roboto', sans-serif;
  font-size: @fz;
  font-weight: @fw;
}

.Gantari(@fz: 13px, @fw: 400){
  font-family: 'Gantari', sans-serif;
  font-size: @fz;
  font-weight: @fw;
}