#windowSize() {
  mobile: ~"max-width: 767px";
  tablet: ~"max-width: 1023px";
  desktop: ~"min-width: 1024px";
}

#imgPath() {
  default: ~"../img/";
  admin: ~"../img/admin/";
  oney: ~"../img/oney/";
  scheme: ~"../img/integrated/";
  icons: ~"../css/components/icons/";
}

#colorMap() {
  dark: #303030;
  grey: #b2b2b2;
  oney: #7ebd00;
  module: #00ab7a;
  error: #e56876;
  warning: #f7a000;
  stroke: #ccc;
  deferred_color: #2B343D;
  deferred_background: #E9EAEB;

  white: #fff;
  red: #D5343C;
  grey: #FAFAFB;
  iris: #5D5FEF;
  lightGray: #f9f9f9;
  veryLightGray: #dddddd;
  border: #C8D7E4;
  backgroundGrey: #FAFAFB;
  borderMain: #C8D7E4;

  purple: #442CC7;
  purple50: #E9E6F8;

  fontMainDefault: #363A41;
  fontSecondaryDefault: #697180;
  fontMainDisabled: #D7D8D9;
  fontSecondary50: #EDEEF0;
  fontSecondary100: #D2D4D9;
  accentuationSuccess50: #E4F0EA;
  accentuationSuccess500: #21834D;
  accentuationWarning50: #FAE7E8;
  accentuationWarning500: #D5343C;
  accentuationAlert50: #FFF4E0;
  accentuationAlert500: #FFA000;

  radioButtonBackground: #E9E6F8;
  radioButtonDisabled: #D2D4D9;
}

#durationMap() {
  fast: 0.2s;
  default: 0.4s;
  slow: 0.6s;
}
