#windowSize() {
  mobile: ~"max-width: 767px";
  tablet: ~"max-width: 1023px";
  desktop: ~"min-width: 1024px";
}

#imgPath() {
  admin: ~"../img/admin/";
  default: ~"../img/";
  icons: ~"../img/svg/icons/";
  oney: ~"../img/oney/";
  scheme: ~"../img/integrated/";
  svg: ~"../img/svg/";
}

#colorMap() {
  dark: #303030;
  grey: #b2b2b2;
  oney: #7ebd00;
  error: #e56876;
  warning: #f7a000;
  stroke: #ccc;
  deferred_color: #2B343D;
  deferred_background: #E9EAEB;

  white: #fff;
  black: #000;
  borderMain: #C8D7E4;

  primary: #0555EB;
  secondary: #FFD908;
  tertiary: #0555EB;

  paylaterPrimary: #442CC7;
  paylaterSecondary: #011638;
  paylaterTertiary: #5D5FEF;

  backgroundGrey: #FAFAFB;

  fontMainDefault: #363A41;
  fontMainDisabled: #D7D8D9;
  fontSecondaryDefault: #697180;
  fontSecondary100: #D2D4D9;
  fontSecondary50: #EDEEF0;

  accentuationSuccess50: #E4F0EA;
  accentuationSuccess500: #21834D;
  accentuationSuccess: #21834D;
  accentuationWarning50: #FAE7E8;
  accentuationWarning500: #D5343C;
  accentuationWarning: #D5343C;
  accentuationAlert50: #FFF4E0;
  accentuationAlert500: #FFA000;
  accentuationAlert: #FFA000;
}

#durationMap() {
  fast: 0.2s;
  default: 0.4s;
  slow: 0.6s;
}
