#windowSize() {
  mobile: ~"max-width: 767px";
  tablet: ~"max-width: 1023px";
  desktop: ~"min-width: 1024px";
}

#imgPath() {
  default: ~"../img/";
  admin: ~"../img/admin/";
  oney: ~"../img/oney/";
  scheme: ~"../img/integrated/";
  icons: ~"../css/components/icons/";
}

#colorMap() {
  dark: #303030;
  grey: #b2b2b2;
  oney: #7ebd00;
  module: #00ab7a;
  error: #e56876;
  warning: #f7a000;
  stroke: #ccc;
  deferred_color: #2B343D;
  deferred_background: #E9EAEB;

  white: #fff;
  purple: #442CC7;
  red: #D5343C;
  grey: #FAFAFB;
  iris: #5D5FEF;
  lightGray: #f9f9f9;
  veryLightGray: #dddddd;
  border: #C8D7E4;
  borderMain: #C8D7E4;
  fontMainDefault: #363A41;
  fontSecondaryDefault: #697180;
  fontMainDisabled: #D7D8D9;
  fontSecondary50: #EDEEF0;
  radioButtonBackground: #E9E6F8;
  radioButtonBorder: #D7D8D9;
  radioButtonBackroundColor: #FFFFFF;
  radioButtonDisabled: #D2D4D9;

}

#durationMap() {
  fast: 0.2s;
  default: 0.4s;
  slow: 0.6s;
}
