@color-primary: #colorMap[paylaterPrimary];
@color-primary-lighten: fade(#colorMap[paylaterPrimary], 10%);
@color-primary-darken: darken(#colorMap[paylaterPrimary], 10%);
@color-secondary: #colorMap[paylaterSecondary];
@color-tertiary: #colorMap[paylaterTertiary];

@color-border-title: @color-text-main;