// Screen view
@screen-mobile: #windowSize[mobile];
@screen-tablet: #windowSize[tablet];
@screen-desktop: #windowSize[desktop];

// Image path
@img: #imgPath[default];
@img-admin: #imgPath[admin];
@img-icons: #imgPath[icons];
@img-oney: #imgPath[oney];
@img-scheme: #imgPath[scheme];
@img-svg: #imgPath[svg];

// Duration
@dur: #durationMap[default];

// Oney color
@color-oney: #colorMap[oney];

// Error color
@color-error: #colorMap[error];

// Text color
@color-text-main: #colorMap[fontMainDefault];
@color-text-disable: #colorMap[fontMainDisabled];
@color-text-secondary: #colorMap[fontSecondaryDefault];
@color-text-secondary-light: #colorMap[fontSecondary100];
@color-text-secondary-lighten: #colorMap[fontSecondary50];

// theme color
@color-primary: #colorMap[primary];
@color-primary-lighten: fade(#colorMap[primary], 10%);
@color-primary-darken: darken(#colorMap[primary], 10%);
@color-secondary: #colorMap[secondary];
@color-tertiary: #colorMap[tertiary];

// Alert color
@color-success: #colorMap[accentuationSuccess];
@color-success-lighten: fade(@color-success, 10%);
@color-warning: #colorMap[accentuationWarning];
@color-warning-lighten: fade(@color-warning, 10%);
@color-alert: #colorMap[accentuationAlert];
@color-alert-lighten: fade(@color-alert, 10%);

// Border color
@color-border: #colorMap[borderMain];
@color-border-title: #colorMap[secondary];

// Background color
@color-background: #colorMap[backgroundGrey];

// Paddings
@padding-base: 4;
@padding-1: @padding-base * 1px;
@padding-2: @padding-base * 2px;
@padding-3: @padding-base * 3px;
@padding-4: @padding-base * 4px;
@padding-5: @padding-base * 5px;
@padding-6: @padding-base * 6px;
@padding-7: @padding-base * 7px;
@padding-8: @padding-base * 8px;
@padding-9: @padding-base * 9px;
@padding-10: @padding-base * 10px;
@padding-12: @padding-base * 12px;
@padding-15: @padding-base * 15px;

// Margins
@margin-base: 4;
@margin-1: @margin-base * 1px;
@margin-2: @margin-base * 2px;
@margin-3: @margin-base * 3px;
@margin-4: @margin-base * 4px;
@margin-5: @margin-base * 5px;
@margin-6: @margin-base * 6px;
@margin-7: @margin-base * 7px;
@margin-8: @margin-base * 8px;
@margin-9: @margin-base * 9px;
@margin-10: @margin-base * 10px;