/* Screen view */
@screen-mobile: #windowSize[mobile];
@screen-tablet: #windowSize[tablet];
@screen-desktop: #windowSize[desktop];

/* Image path */
@img: #imgPath[default];
@img-admin: #imgPath[admin];
@img-icons: #imgPath[icons];
@img-oney: #imgPath[oney];
@img-scheme: #imgPath[scheme];
@img-svg: #imgPath[svg];

/* Duration */
@dur: #durationMap[default];

/* Colors */
@color-oney: #colorMap[oney];
@color-error: #colorMap[error];

// theme
@color-primary: #colorMap[primary];
@color-primary-lighten: fade(#colorMap[primary], 10%);
@color-primary-darken: darken(#colorMap[primary], 10%);
@color-secondary: #colorMap[secondary];
@color-tertiary: #colorMap[tertiary];

// Alert
@color-success: #colorMap[accentuationSuccess];
@color-success-lighten: fade(@color-success, 10%);
@color-warning: #colorMap[accentuationWarning];
@color-warning-lighten: fade(@color-warning, 10%);
@color-alert: #colorMap[accentuationAlert];
@color-alert-lighten: fade(@color-alert, 10%);

// Border
@color-border: #colorMap[borderMain];
@color-border-title: #colorMap[primary];

// Background
@color-background: #colorMap[backgroundGrey];