/* Payplug ApplePay */
.__moduleName__ApplePay {
  &_wrapper {
    &.-shopping-cart {
      display: none;
      padding: @padding-4 0 0;
      &.-visible {
        display: block;
      }
    }
  }
  &_button {
    width: 100%;

    .apple-pay-btn black {
      .borderRadius(0);
    }
  }
}
