/* Payplug payment */
.__moduleName__OneClick {
  .borderRadius(4px);
  border: 1px solid #d6d4d4;
  background: #fbfbfb;
  color: #333;
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
  position: relative;
  margin: 0 0 10px;

  > button {
    .borderRadius(4px);
    display: block;
    width: 100%;
    border: 1px solid #d6d4d4;
    font-size: 17px;
    line-height: 23px;
    color: #333;
    font-weight: bold;
    padding: 33px 40px 34px 15px;
    letter-spacing: -1px;
    position: relative;
    background: none;
    text-align: left;

    &:after {
      display: block;
      content: "\f054";
      position: absolute;
      right: 15px;
      margin-top: -11px;
      top: 50%;
      font-family: "FontAwesome";
      font-size: 25px;
      height: 22px;
      width: 14px;
      color: #777;
    }
    img{
      margin-right: 20px;
      @media (@screen-tablet) {
        display: none;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 15px 15px;

    .radio {
      padding: 6px 0 0;
    }

    label {
      display: flex;
      align-self: flex-start;
      cursor: pointer;

      img {
        display: block;
        width: auto;
        height: 22px;
        margin: 0 8px;
      }
    .noimg {
        position: relative;
        left: 8px;
    }
      span {
        display: flex;
        flex-direction: column;

        span {
          font-size: 0.8em;
          line-height: 0.8em;
          font-weight: normal;
        }
      }

      & + label {
        margin: 10px 0 0;
      }
    }
  }

  &_submit{
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    max-width: 325px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    @media (@screen-mobile) {
      position: relative;
      right: 0;
      bottom: 0;
      margin: 15px 0 0;
      align-self: center;
    }
  }

  &_message {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    max-width: 325px;
    display: none;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    line-height: .8em;

    &.-show {
      display: flex;
    }
  }

  &_loader {
    display: block;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    margin: 0 0 0 16px;
  }
}
