/* Payplug popin */
.__moduleName__Popin {
    .transform(translate(-50%, -50%));
    .transition(opacity @dur);
    opacity: 0;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    max-width: 80vw;
    z-index: 5004;

    @media (@screen-mobile) {
      max-width: 98vw;
    }

    &:before {
      .transform(translate(-50%, -50%));
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      background: rgba(0, 0, 0, .2);
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }

    &_content {
      z-index: 1;
      background: #fff;
      max-height: 80vh;
      overflow-y: auto;
      padding: 15px 30px;

      @media (@screen-mobile) {
        max-height: 98vh;
      }
    }

    &_close {
      z-index: 1;
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      line-height: 24px;
      text-indent: 24px;
      background: none;
      border: none;
      overflow: hidden;
      padding: 0;
      cursor: pointer;

      &:focus {
        outline: 0;
      }

      &:before,
      &:after {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        content: "";
        background: #colorMap[dark];
      }

      &:before {
        .transform(translate(-50%, -50%) rotate(45deg));
      }

      &:after {
        .transform(translate(-50%, -50%) rotate(-45deg));
      }
    }

    &.-open {
      display: block;
    }

    &.-show {
      opacity: 1;
    }
  }
