/* Oney logo */
.__moduleName__OneyLogo {
  background: 50% no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  &.-x3 {
    background-image: url(~"@{img-oney}x3_with_fees.svg");
    .-disabled & {
      background-image: url(~"@{img-oney}x3_with_fees_alt.svg");
    }
    &.-withoutFees {
      background-image: url(~"@{img-oney}x3_without_fees_FR.svg");
      .-disabled & {
        background-image: url(~"@{img-oney}x3_without_fees_FR_alt.svg");
      }
      &.-isItalian  {
        background-image: url(~"@{img-oney}x3_without_fees_IT.svg");
        .-disabled & {
          background-image: url(~"@{img-oney}x3_without_fees_IT_alt.svg");
        }
      }
    }

    &x4 {
      background-image: url(~"@{img-oney}x3x4_with_fees.svg");
      .-disabled & {
        background-image: url(~"@{img-oney}x3x4_with_fees_alt.svg");
      }
      &.-withoutFees {
        background-image: url(~"@{img-oney}x3x4_without_fees_FR.svg");
        .-disabled & {
          background-image: url(~"@{img-oney}x3x4_without_fees_FR_alt.svg");
        }
        &.-isItalian  {
          background-image: url(~"@{img-oney}x3x4_without_fees_IT.svg");
          .-disabled & {
            background-image: url(~"@{img-oney}x3x4_without_fees_IT_alt.svg");
          }
        }
      }

    }
  }

  &.-x4 {
    background-image: url(~"@{img-oney}x4_with_fees.svg");
    .-disabled & {
      background-image: url(~"@{img-oney}x4_with_fees_alt.svg");
    }
    &.-withoutFees {
      background-image: url(~"@{img-oney}x4_without_fees_FR.svg");
      .-disabled & {
        background-image: url(~"@{img-oney}x4_without_fees_FR_alt.svg");
      }
      &.-isItalian  {
        background-image: url(~"@{img-oney}x4_without_fees_IT.svg");
        .-disabled & {
          background-image: url(~"@{img-oney}x4_without_fees_IT_alt.svg");
        }
      }
    }

  }

  &.-tooltip {
    background-image: url(~"@{img-oney}tooltip.svg");
    .-disabled & {
      background-image: url(~"@{img-oney}tooltip-alt.svg");
    }
  }
}
