/* Oney option */
.__moduleName__OneyOption {
  .transition();
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(50% - 16px);
  border: 1px solid #dce0e8;
  padding: 30px;
  cursor: pointer;
  margin: 0 8px 50px;
  position: relative;

  &:after {
    .transition(~"opacity @{dur}");
    content: "";
    position: absolute;
    display: block;
    bottom: -14px;
    right: 0;
    left: 0;
    height: 13px;
    background: #colorMap[oney];
    opacity: 0;
    -webkit-box-shadow: 0px -5px 10px 5px #fff inset;
    -moz-box-shadow: 0px -5px 10px 5px #fff inset;
    box-shadow: 0px -5px 10px 5px #fff inset;

    .-mobile & {
      display: none;
    }
  }

  &:hover {
    border-color: #colorMap[oney];

    &:after {
      opacity: 1;
    }
  }

  &.-selected {
    border-color: #colorMap[oney];
    background: fade(#colorMap[oney], 15);

    &:after {
      opacity: 1;
    }

    .-mobile & {
      border: none;
      background: none;
    }
  }

  &_wrapper {
    display: flex;
    justify-content: center;
    padding: 0 8px;
    flex-wrap: wrap;
    position: relative;

    .-mobile & {
      padding: 89px 0 0;
      position: relative;
      img {
        display: none;
      }
    }

    &.-loading {
      justify-content: center;
      padding: 16px;

      & + .oneyPayment_cta {
        display: none;
      }

      .-mobile & {
        padding: 16px;
      }
    }
  }

  &_logo {
    display: block;
    width: 200px;
    height: 90px;
    max-width: 100%;

    &.-x3, &.-x4  {
      width: 140px;
      &.-withoutFees {
        width: 150px;
        min-height: 90px;
      }
    }
    @media (@screen-tablet) {
      display: none;
    }
  }

  &_title {
    display: flex;
    height: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: #2f2930;
    padding: 0 0 35px;

    img {
      margin-bottom: 5px;
    }

    .-mobile & {
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
      border: 1px solid #dce0e8;
      border-left: none;
      border-bottom: 5px solid transparent;
      padding: 0;
    }

    .-mobile .oneyOption:nth-child(2) & {
      left: 50%;
      border-right: none;
      border-left: none;
    }

    .-mobile .-selected & {
      border-bottom: 5px solid @color-oney;
    }
  }

  &_prices {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .-mobile & {
      display: none;
      height: auto;
      padding: 30px 16px;
      border-top: 1px solid #dce0e8;
    }

    .-mobile .-selected & {
      display: block;
    }

    // Oney Detail
    ul {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      font-size: 15px;
      color: #2F2930;
      width: 100%;
      height: 100%;
      margin: 0;

      li {
        .border(#dce0e8, b);
        display: flex;
        justify-content: space-between;
        line-height: 21px;
        padding: 0 0 16px;
        flex-wrap: wrap;

        & + li {
          padding: 16px 0;
        }

        &:last-child {
          padding: 16px 0 0;
          margin: auto 0 0;
          border: none;
        }

        span {
          display: flex;
          font-weight: 600;

          &:first-child {
            font-weight: 500;
          }
        }

        small {
          display: block;
          font-weight: 400;
          width: 100%;
        }

        .-mobile & {
          padding: 8px 0;
        }
      }
    }
  }

  &_legend {
    text-align: center;
    font-weight: 400;
    margin: auto 0 0;
    color: #2f2930;
  }

  &_radio {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .-mobile & {
    width: 100%;
    margin: 0;
    padding: 0;
    position: static;
    border: none;
    background: none;
  }
}
