/* Oney payment */
.__moduleName__OneyPayment {
  .borderRadius(4px);
  .transition(~"max-height @{dur}");
  background: #fbfbfb;
  overflow: hidden;
  border: 1px solid #d6d4d4;
  max-height: 90px;

  &.-disabled {
    max-height: none;
  }

  &.-open {
    max-height: 10000vh;
  }

  &_trigger {
    position: relative;
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    border: none;
    background: none;
    text-align: left;
    color: #333;
    font-size: 17px;
    font-weight: bold;
    padding: 0 0 0 15px;
    letter-spacing: -1px;

    img {
      margin-right: 10px;
    }

    .-disabled & {
      color: #colorMap[grey];
      cursor: default;

      &:hover {
        background: #fbfbfb;
      }

      .-mobile& {
        padding: 8px 15px;
        height: auto;
      }
    }

    &:hover {
      background: #f6f6f6;

      .-open & {
        background: #fbfbfb;
      }
    }

    &:focus {
      outline: 0;
    }

    &:after {
      .transition(~"transform @{dur}");
      .transform(translateY(-50%));
      display: flex;
      justify-content: center;
      align-items: center;
      content: "\f054";
      position: absolute;
      right: 7px;
      top: 50%;
      font-family: "FontAwesome";
      font-size: 25px;
      height: 30px;
      width: 30px;
      color: #777;

      .-open & {
        .transform(translateY(-50%) rotate(90deg));
      }

      .-disabled & {
        display: none;
      }
    }

    .-mobile & {
      //flex-direction: column;
      //align-items: flex-start;
      justify-content: left;
    }
  }

  &_label {
    display: flex;
    flex-direction: column;
    line-height: 1.3em;
  }

  &_error {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
  }

  &_logo {
    display: block;
    background-size: 100%;
    max-width: 100%;
    margin: 0 8px 0 0;
    min-width: 150px;
    min-height: 40px;
    width: 150px;

    &.-withoutFees {

    }

    .-disabled & {
      background-image: url(~"@{img-oney}3x4x_with_fees-alt.svg");
    }

    @media (@screen-tablet) {
      display: none;
    }
  }

  &_cta {
    text-align: center;
    width: 100%;
    margin: 0 0 30px;

    a {
      display: block;
      color: #7a7a7a;
      font-size: 13px;
      margin-top: 5px;
      padding-left: 0px!important;

      &:hover {
        background: none;
      }

      &:after {
        display: none;
      }
    }
  }

  &_button {
    background: #colorMap[oney];
    width: 254px;
    height: 50px;
    color: #fff;
    border: none;
    font-size: 15px;
    .borderRadius(2px);

    &.-disabled {
      background: #colorMap[grey];
      cursor: default;
      outline: none;
    }
  }
}
