/* Oney logo */
.oneyLogo {
  background: 50% no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;

  &.-x3 {
    background-image: url(~"@{img_oney}x3_with_fees.svg");

    &x4 {
      background-image: url(~"@{img_oney}3x4x.svg");
    }
  }

  &.-x4 {
    background-image: url(~"@{img_oney}x4_with_fees.svg");
  }

  &.-tooltip {
    background-image: url(~"@{img_oney}tooltip.svg");
  }
}
