/* Oney logo */
.oneyLogo {
  background: 50% no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  max-height: 35px;
  &.-x3 {
    background-image: url(~"@{img_oney}x3_with_fees.svg");
    .-disabled & {
      background-image: url(~"@{img_oney}x3_with_fees-alt.svg");
    }
    &.-withoutFees {
      background-image: url(~"@{img_oney}x3_without_fees.svg");
      .-disabled & {
        background-image: url(~"@{img_oney}x3_without_fees-alt.svg");
      }
      &.-isItalian  {
        background-image: url(~"@{img_oney}x3_without_fees_IT.svg");
        .-disabled & {
          background-image: url(~"@{img_oney}x3_without_fees-alt_IT.svg");
        }
      }
    }

    &x4 {
      background-image: url(~"@{img_oney}x3x4_with_fees.svg");
      .-disabled & {
        background-image: url(~"@{img_oney}x3x4_with_fees-alt.svg");
      }
      &.-withoutFees {
        background-image: url(~"@{img_oney}x3x4_without_fees.svg");
        .-disabled & {
          background-image: url(~"@{img_oney}x3x4_without_fees-alt.svg");
        }
        &.-isItalian  {
          background-image: url(~"@{img_oney}x3x4_without_fees_IT.svg");
          .-disabled & {
            background-image: url(~"@{img_oney}x3x4_without_fees-alt_IT.svg");
          }
        }
      }

    }
  }

  &.-x4 {
    background-image: url(~"@{img_oney}x4_with_fees.svg");
    .-disabled & {
      background-image: url(~"@{img_oney}x4_with_fees-alt.svg");
    }
    &.-withoutFees {
      background-image: url(~"@{img_oney}x4_without_fees.svg");
      .-disabled & {
        background-image: url(~"@{img_oney}x4_without_fees-alt.svg");
      }
      &.-isItalian  {
        background-image: url(~"@{img_oney}x4_without_fees_IT.svg");
        .-disabled & {
          background-image: url(~"@{img_oney}x4_without_fees-alt_IT.svg");
        }
      }
    }

  }

  &.-tooltip {
    background-image: url(~"@{img_oney}tooltip.svg");
    .-disabled & {
      background-image: url(~"@{img_oney}tooltip-alt.svg");
    }
  }
}
