/* Oney logo */
.oneyLogo {
  background: 50% no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;

  &.-x3 {
    background-image: url(~"@{img_oney}x3_with_fees.svg");
    .-disabled & {
      background-image: url(~"@{img_oney}x3_with_fees-alt.svg");
    }

    &x4 {
      background-image: url(~"@{img_oney}3x4x_with_fees.svg");
      .-disabled & {
        background-image: url(~"@{img_oney}3x4x_with_fees-alt.svg");
      }
      &.-withoutFees {
        background-image: url(~"@{img_oney}3x4x_without_fees.svg");
        .-disabled & {
          background-image: url(~"@{img_oney}3x4x_without_fees-alt.svg");
        }
      }
    }
  }

  &.-x4 {
    background-image: url(~"@{img_oney}x4_with_fees.svg");
    .-disabled & {
      background-image: url(~"@{img_oney}x4_with_fees-alt.svg");
    }
  }

  &.-tooltip {
    background-image: url(~"@{img_oney}tooltip.svg");
    .-disabled & {
      background-image: url(~"@{img_oney}tooltip-alt.svg");
    }
  }
}
