
.__moduleName__Configuration {
  @size: 14;

  .Roboto(~"@{size}px", 400);
  line-height: calc(20em / ~"@{size}");
  letter-spacing: calc(0.25em / ~"@{size}");
  color: #colorMap[fontSecondaryDefault];

  ._footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;

    ._save {
      width: 100%;
      max-width: 1000px;
    }
  }
}