.generalBlock {
  position: relative;
  min-height: 424px;

  &.-hide {
    display: none;
  }

  &.-subscribe {
    ._content {
      padding: 0 0 60px;

      p {
        text-align: center;
        font-size: 14px;
        margin: 39px 0;
      }
      ._buttons {
        flex-direction: column;
      }

      .payplugUIButton {
        margin: 10px 0 0;
        padding: 0px 15px;
      }
    }
  }

  &.-login {
    ._loginForm {
      display: flex;
      flex-direction: column;
      width: 100%;

      > div {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;

        @media (@screen-mobile) {
          flex-direction: column-reverse;
        }

        & + div {
          margin: @margin-6 0 0;
        }
        & + div:last-child {
          margin: 0;
        }
      }
    }

    ._email,
    ._password {
      width: 100%;
    }

    ._subscribe,
    ._connexion {
      margin: @margin-4 0 @margin-3 @margin-2;

      @media (@screen-mobile) {
        margin: 0 0 @margin-2;
      }
    }

    ._forgotPassword {
      font-size: 13px;
      color: @color-text-secondary;
      margin: 0 0 -2px;
    }
  }

  &.-logged {
    ._user {
      width: 100%;
      max-width: 400px;
      padding: @padding-4 0 @padding-10;

      @media (@screen-mobile) {
        padding: @padding-2 0 @padding-8;
      }

      &Informations {
        .border(@color-border);
        border-radius: 4px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 36px;
        width: 100%;
        padding: 0 @padding-3;
        margin: 0 0 @margin-2;
      }

      &Portal {
        @size: 12;
        .Inter(~"@{size}px", 700);
        color: @color-primary;
        letter-spacing: calc(1em / ~"@{size}");

        height: calc(36em / ~"@{size}");
        padding: 0 @padding-3;
        background: @color-background;
        justify-content: start;

        &.-icon {
          .buttonIcon {
            height: calc(18em / ~"@{size}");
            width: calc(18em / ~"@{size}");
            fill: @color-primary;
          }
        }
      }

      &Logout {
        border: none;

        &:hover {
          color: @color-primary;
          // primary 50
          background: @color-primary-lighten;
        }
      }
    }

    ._sandbox {
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-wrap: wrap;
      margin: 0 0 @margin-9;

      @media (@screen-mobile) {
        flex-direction: column;
      }

      &Title {
        width: 100%;
      }

      &Description {
        &.-hide {
          display: none;
        }
        min-height: 40px;
        max-width: calc(100% - 232px);

        @media (@screen-mobile) {
          max-width: 100%;
        }
      }

      &RadioButton {
        @media (@screen-mobile) {
          margin: @margin-2 0 0;
        }
        div {
          min-width: 100px;
        }
      }
    }
  }
}