.modal {
  &Confirmation,
  &Error {
    ._body {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 0 0 24px;
      }
    }
  }
  &Checkonboarding {
    .modalSandbox {
      &Input {
        padding-top: 24px;
      }
      &Footer {
        display: flex;
        justify-content: space-between;
        padding: 16px 0 0;
        .payplugUIButton {
          width: 150px;
          max-width: calc(50% - 8px);
        }
        &Solo {
          justify-content: center;
        }
      }
      &Body {
        text-align: center;
        .payplugUI {
          &Title {
            padding-top: 27px;
          }
          &Paragraph {
            padding-bottom: 33px;
            a {
              &:link,
              &:hover,
              &:visited,
              &:active {
                color: #colorMap[fontSecondaryDefault];
                text-decoration: underline;
              }
            }
          }
        }
      }
    }


    .errorMessage {
      display: block;
      color: #colorMap[error];
      font-size: 12px;
      margin: -20px 0 -6px;
      line-height: 2em;

      svg {
        .transition(~"fill @{dur}");
        fill: #colorMap[error];
        vertical-align: middle;
      }
    }
  }
}