.modal {
  &Confirmation,
  &Error {
    ._body {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 0 0 @margin-6;
      }

      .payplugUIButton {
        min-width: 150px;
      }
    }
  }

  &Checkonboarding {
    ._content {
      padding: 0;

      .payplugUI {
        &Paragraph {
          margin: 0 0 @margin-6;

          a {
            &:link,
            &:hover,
            &:visited,
            &:active {
              color: #colorMap[fontSecondaryDefault];
              text-decoration: underline;
            }
          }
        }
      }

      &.-center {
        padding: @padding-4 0;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        ._footer {
          .payplugUIButton {
            max-width: 100%;
          }
        }
      }
    }
    ._input {
      margin: 0 0 @margin-6;
    }
    ._footer {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: @padding-4 0 0;
      margin: 0;

      .payplugUIButton {
        width: 150px;
        max-width: calc(50% - 8px);
      }
    }
    ._error {
      display: flex;
      align-items: center;
      color: #colorMap[error];
      font-size: 12px;
      margin: @margin-1 0 -2px;
      line-height: 18px;
      .payplugUIIcon {
        margin-right: @margin-1;
      }
      svg {
        .transition(~"fill @{dur}");
        fill: #colorMap[error];
        vertical-align: middle;
        max-height: 100%;
      }
    }
  }
}