.paylaterBlock {
  ._details {
    margin-bottom: 20px;
    display: inherit;

    &Switch {
      float: right;
    }
  }

  ._paylaterOptions {
    ._paylaterLabel {
      max-width: calc(50% - 4px);
      width:220px;

      div {
        padding: 10px 50px 10px 10px;
      }
    }
  }

}