.paylaterBlock {
  ._paylaterOptions {
    ._paylaterLabel {
      max-width: calc(50% - 4px);
      width: 220px;

      div {
        padding: 10px 50px 10px 10px;
      }
    }
  }

  ._paylaterTitle {
    margin: 16px 0 8px;
  }

  ._paylaterParagraph {
    margin: 0 0 24px;
  }
}