.__moduleName__Configuration {
  ._paylaterAdvanced {
    margin: @margin-9 0 0;

    &Option {
      padding: @padding-4 0 @padding-3 0;
      display: flex;

      ._img {
        width: 200px;

        img {
          display: block;
          width: 100%;
        }

        @media (@screen-mobile) {
          display: none;
        }
      }
      ._wrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: calc(100% - 200px);
        padding: 0 @padding-12 0 @padding-10;

        @media (@screen-mobile) {
          padding: 0;
          width: 100%;
        }
      }
      ._content {
        display: flex;
      }

      &.-thresholds {
        ._content {
          flex-direction: column;
        }
        ._inputs {
          display: flex;
          align-items: center;
          p {
            margin: 0 16px;
          }
        }
        ._statement {
          padding: 2px 0 0;
          width: 100%;
          display: flex;
          color: @color-warning;
          font-size: 14px;

          .thresholdErrorIcon {
            display: none;
            margin-right: 5.67px;

            svg {
              fill: @color-warning;
              width: 20px;
              height: 20px;
            }
          }

          &.-right {
            padding: 2px 0 0 195px;
          }
        }
        .payplugUIInput {
          width: 150px;
          max-width: 45%;
          margin: 0;
        }
      }
      &.-optimized{
        ._content {
          justify-content: space-between;

          p {
            max-width: calc(100% - 145px);
          }
        }
        ._switch {
          display:flex;
          align-items: center; /* use center to align on the secondary axis */
        }
      }
      &.-productOneyCta {
        ._content {
          justify-content: space-between;
          p {
            max-width: calc(100% - 145px);
          }
        }
        ._switch {
          display:flex;
          align-items: center; /* use center to align on the secondary axis */
        }
      }
      &.-cartOneyCta {
        ._switch {
          display:flex;
          align-items: center; /* use center to align on the secondary axis */
        }
      }

      & + ._paylaterAdvancedOption {
        padding: @padding-3 0;
      }
    }
  }
}