@import "../atoms/paragraph";

.__moduleName__Configuration {
  .paymentMethod {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: @margin-4 0 @margin-6;
    position: relative;

    ._logo {
      .border(@color-border);
      .borderRadius(4px);

      display: flex;
      justify-content: center;
      align-items: center;

      height: 64px;
      width: 64px;

      padding: 6px;
      margin: 0 0 0 @margin-6;

      img {
        display: block;
      }

      @media (@screen-tablet) {
        display: none;
      }
    }

    > ._text {
      margin: 0 0 0 @margin-6;
      max-width: calc(80% - 60px);

      &.-paylater {
        margin: 0;
      }

      ._title {
        color: @color-border-title;
        margin: 0;
      }

      ._description {
        margin: 0;

        a {
          white-space: nowrap;
        }

        &.-live {
          display: block;
        }
        &.-sandbox {
          display: none;
        }
      }

      & > .-disabled {
        display: none;
      }

      @media (@screen-mobile) {
        margin: 0 0 0 @margin-6;
      }
    }

    ._additionnal {
      display: none;
      width: 100%;
      padding: @padding-6 0 0 @padding-15;
      flex-direction: column;

      &.-show {
        display: flex;
      }

      &.-paylater {
        display: flex;
        padding: 24px 0 0 0;
      }
    }

    ._option {
      &s{
        .border(@color-border, l);
        display: flex;
        flex-direction: column;
        padding: 0 0 0 @padding-6;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;

      ._content {
        padding: 0 @padding-8 0 0;

        ._title {
          color: @color-text-main;
          margin: 0 0 10px;
        }

        ._description {
          margin: 0;

          a {
            white-space: nowrap;
          }
        }
      }

      & + ._option {
        margin: @margin-6 0 0 0;
      }
    }

    ._advancedOption {
      &s {
        margin: @margin-10 0 @margin-6 0;

        > div {
          width: 100%;
        }
      }

      ._header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 10px;

        ._title {
          margin: 0;
        }
      }
      ._content {
        .payplugUITextAlert {
          margin: @margin-6 0 0;
          text-align: center;
        }
      }

      & + ._advancedOption {
        margin: @margin-10 0 0;

        @media (@screen-mobile) {
          margin: @margin-6 0 0;
        }
      }

      // Installment advanced option
      &.-installment {
        ._content {
          ._inputs {
            display: flex;
            align-items: self-end;
            flex-wrap: wrap;
            margin-bottom: 10px;
            p {
              white-space: nowrap;
              margin-right: 10px;
            }
            .payplugUISelect,
            .payplugUIInput {
              &.installmentMode,
              &.installmentMinAmount {
                min-width: 120px;
                margin: 0 10px 0 0;
              }
              ._text {
                margin: 0;
              }
            }
            .payplugUIInput {
              &.maxThreshold {
                width: 120px;
                margin: 0 10px;
              }
            }
          }
          ._statement {
            padding: 2px 0 0;
            width: 100%;
            display: flex;
            color: @color-warning;
            font-size: 14px;
            .installmentErrorIcon {
              display: none;
              margin-right: 5.67px;

              svg {
                fill: @color-warning;
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }

    & + .paymentMethod {
      margin: @margin-4 0 @margin-6;
    }

    &.-sandbox {
      .paymentMethod_switch {
        opacity: 0;
      }
      ._description {
        &.-live {
          display: none;
        }
        &.-sandbox {
          display: block;
        }
      }
      ._additionnal {
        display: none;
      }
    }
  }
}