@import "../atoms/paragraph";

.__moduleName__Configuration {
  .paymentOption {
    display: flex;
    align-items: center;
    margin: @margin-4 0 0;
    flex-wrap: wrap;

    ._logo {
      .border(@color-border);
      .borderRadius(4px);

      display: flex;
      justify-content: center;
      align-items: center;

      height: 64px;
      width: 64px;

      padding: 6px;
      margin: 0 0 0 @margin-6;

      img {
        display: block;
      }

      @media (@screen-mobile) {
        display: none;
      }
    }

    ._text {
      margin: 0 0 0 @margin-6;

      ._title {
        color: @color-border-title;
        margin: 0;
      }

      p {
        margin: 0;
      }

      @media (@screen-mobile) {
        margin: 0 0 0 @margin-6;
      }
    }

    ._informations {
      display: none;
      width: 100%;
      padding: @padding-6 0 0;
      
      &.-show {
        display: block;
      }

      .standardPaymentAdvanced {
        margin: 40px 0 0 0;
        ._standardAdvancedOption {
          flex-direction: column;
          ._header {
            display: flex;
            justify-content: space-between;
            ._title {
              max-width: calc(100% - 60px);
              margin: 0 0 19px 0;
            }
          }
          .payplugUITextAlert {
            margin-top: 24px;
            text-align: center;
          }
          &.-installment {
            ._content {
              ._inputs {
                display: flex;
                align-items: self-end;
                .payplugUISelect {
                  &.installments_panel_select {
                    width: 120px;
                    margin: 0 10px;
                  }
                  ._text {
                    margin: 0;
                  }
                }
                .payplugUIInput {
                  &.maxThreshold {
                    width: 120px;
                    margin: 0 10px;
                  }
                }
              }
            }
          }
          &.-deferred {
            .payplugUISelect{
              &.deferred_panel_select {
                ._current {
                  &:focus {
                    & + ._list {
                      max-height: 150px;
                      overflow: scroll;
                    }
                  }
                }
                ._list {
                  scrollbar-width: none;
                }
                ._list::-webkit-scrollbar {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    & + .paymentOption {
      margin: 42px 0 0;
    }

    &.-payplug_oney {
      margin: 0;

      &.-pspaylater {
        .payplugUISwitch {
          display: none;
        }

        ._text {
          margin: 0;
          max-width: 100%;
        }

        ._title {
          margin: 0 0 @margin-2;
        }
      }
    }
    &.-standard {
      ._informations {
        padding: @padding-8 0 0 @padding-15;
      }
    }

    @media (@screen-mobile) {
      margin: 0;
      & + .paymentOption {
        margin: @margin-4 0 0;
      }
    }
  }
}