@import "../atoms/paragraph";

.__moduleName__Configuration {
  .paymentOption {
    display: flex;
    align-items: center;
    margin: 16px 0 0;
    flex-wrap: wrap;

    ._logo {
      .border(#colorMap[borderMain]);
      .borderRadius(4px);

      display: flex;
      justify-content: center;
      align-items: center;

      height: 64px;
      width: 64px;

      padding: 6px;
      margin: 0 0 0 24px;

      img {
        display: block;
      }

      @media (@screen-mobile) {
        display: none;
      }
    }

    ._text {
      margin: 0 0 0 24px;
      max-width: calc(100% - 60px);

      ._title {
        color: @color-border-title;
        margin: 0;
      }

      p {
        margin: 0;
      }

      @media (@screen-mobile) {
        margin: 0 0 0 24px;
      }
    }

    ._informations {
      display: none;
      width: 100%;
      padding: 24px 0 0;
      
      &.-show {
        display: block;
      }
    }

    & + .paymentOption {
      margin: 42px 0 0;
    }

    &.-payplug_oney {
      margin: 0;

      &.-pspaylater {
        .payplugUISwitch {
          display: none;
        }

        ._text {
          margin: 0;
          max-width: 100%;
        }

        ._title {
          margin: 0 0 8px;
        }
      }
    }

    @media (@screen-mobile) {
      margin: 0;
      & + .paymentOption {
        margin: 16px 0 0;
      }
    }
  }
}