@import "../../less/include";

.__moduleName___psaccount {
  padding: 0px!important;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 10px;

  .mb-2 {
    margin-bottom: 0px!important;

    .card {
      border: none;

      .card-header {
        background: none;
        padding: 8px 24px;

        .b-iconstack {
          display: none;
        }

        .title {
          border: none!important;
          text-transform: none!important;
        }
      }

      .card-body {
        padding: 35px 40px;
        font-size: 14px;
      }
    }
  }
}